.tweetBox{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
    padding-right: 10px;
}


.tweetBox__btn{
    background-color: var(--twitter-color) !important;
    color: white !important;
    text-transform: inherit !important;
    font-weight: 900 !important;
    border: none !important;
    border-radius: 30px !important;
    height: 40px !important;
    /* margin-top: 20px !important; */
    margin-left: auto !important;
    width: 80px;
}

.tweetBox__btn--disabled{
    opacity: 0.5;
}

.tweetBox__input{
    display: flex;
    padding: 20px;
}

.tweetBox > form{
    display: flex;
    flex-direction: column;
}

.tweetBox__input > input{
    margin-left: 20px;
    border: none;
    font-size: 20px;
    flex: 1;
    outline: none;
    
}

.tweetBox__imageInput{
    border: none;
    padding: 10px;
    outline: none;
    margin-left: 76px;
}

.tweetBox__icons{
    display: flex;
    margin-left: 76px;
    /* max-width: 200px; */
    color: var(--twitter-color);
    align-items: center;
}

.tweetBox__icon{
    cursor: pointer;
    padding: 6px;
    transition: all ease 300ms;
}

.tweetBox__icon:hover{
    background-color: rgb(80, 183, 245, 0.1);
    border-radius: 50%;
}

.tweetBox__icon:active{
    background-color: rgb(80, 183, 245, 0.3);
}

.tweetBox__image-upload{
    margin-top: 4px;
}

.tweetBox__image-upload>input {
    display: none;
  }

